.titulo1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    color:  rgb(82, 75, 75);
    position: relative;
    left: 110px; 
}

.titulo2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    color:  rgb(82, 75, 75);
    position: relative;
    left: 110px; 
}

.titulo3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    color:  rgb(82, 75, 75);
}


.liItem{
    list-style-type: none;
    margin-top: 0%;
}

.divTitutlo{
   width: 50%;
   position: relative;
   top: 45px;
   display: flex;
   flex-direction: column;
}

.arrays{
    display: flex;                  
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 5px;
    flex-wrap: nowrap;
    align-content: flex-start;
    margin-bottom: 0ch;
    margin-top: 0ch;
}

.imagenDetail{
    width: 25%;
    height: 20%;
    position: relative;
    bottom: 70px;
    border-radius: 10px;
    border: 2px solid;
    border-color: rgb(82, 75, 75);
    float: right;
    margin-right: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.divdiets{
    float: right;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    color: rgb(82, 75, 75);
    width: 12%;
    height: 230px;
    text-align: center;
    align-items: center;
    clear: both;
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.divtypes{
    float: right;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    color: rgb(82, 75, 75);
    height: 230px;
    width: 12%;
    align-items: center;
    border-radius: 10px;
}

.pasoapasoDiv{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 45px;
    margin-top: 0;
    margin-left: 40px;
    width: 60%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    color: rgb(82, 75, 75);
}

.pasoapaso{
    text-align: left;
    margin-top: 0;
}

.listaEntera{
    padding: 0;
}

.summaryDiv{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 45px;
    margin-left: 40px;
    margin-bottom: 0;
    width: 60%;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    color: rgb(82, 75, 75);
} 

.summary{
    text-align: justify;
    text-justify:inter-word;
} 
