.refresh{
    background: rgb(82, 75, 75);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    font-size: 15px;
    color: beige;
    border-radius: 10px;
    float: right;
}

.encabezado{
    border-bottom: 2px solid;
    border-color:  rgb(82, 75, 75);
    padding-bottom: 20px;
    width: 100%;
    position: relative;
}

.searchDiv {
    text-align: right;
    padding: 10px;
}

.filtersDiv{
    text-align: right;
    padding: 10px;
}

.createDiv{
    text-align: left;
    padding: 10px;
}

.tituloMain{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    color: rgb(53, 50, 50);
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.imagen {
    width: 200px;
    height: 200px;
    display: flex;
    padding: 10px;
}

/* .divtitulo{
    width: 100%;
    position: relative;
    margin: 30px 0;
} */
