.errorh1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    color: rgb(251,203,12);
    font-weight: bold;
    text-align: center;
    padding: 40px;
    margin: 0;
}

.container{
    border: 2px solid;
    border-color: rgb(53, 50, 50);
    border-radius: 10px;
    margin: auto;
    width: 50%;
    height: 200px;
}

.back{
    background: rgb(82, 75, 75);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    font-size: 15px;
    color: beige;
    margin: 20px;
    border-radius: 10px;
    border-color: rgb(82, 75, 75);
    border-style: solid;
}